
build/smToDodo/Analysis-00.toc
build/smToDodo/base_library.zip
build/smToDodo/EXE-00.toc
build/smToDodo/localpycs/pyimod01_archive.pyc
build/smToDodo/localpycs/pyimod02_importers.pyc
build/smToDodo/localpycs/pyimod03_ctypes.pyc
build/smToDodo/localpycs/pyimod04_pywin32.pyc
build/smToDodo/localpycs/struct.pyc
build/smToDodo/PKG-00.toc
build/smToDodo/PYZ-00.pyz
build/smToDodo/PYZ-00.toc
build/smToDodo/smToDodo.pkg
build/smToDodo/warn-smToDodo.txt
build/smToDodo/xref-smToDodo.html
dist/smToDodo.exe
smToDodo.exe
smToDodo.spec
win_version.zip
